@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    padding: 0px;
    margin: 0px;
}

.btn {
    background-color: #1F473E !important;
    font-family: "Work Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
   font-family: "Work Sans", sans-serif;
}

.section-1 h6 {
    text-align: center;
    padding: 6px 6px;
    font-size: 14px; 
}

.navbar-brand {
    font-family: "Work Sans", sans-serif;
}

.search-box input {
    width: 180px;
}

.navbar-nav .nav-link {
    color: #1D1D1F !important;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
}



.hero-section {
  position: relative;
  height: 100vh; 
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.hero-text {
  position: absolute;
  top: 45%;
  left: 8%;
  transform: translateY(-50%);
  max-width: 500px;
  color: white;
  padding: 0 15px;
}

.hero-text h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #1D1D1F;
}

.hero-text p {
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 20px;
   color: #1D1D1F;
}

.hero-text .btn {
  font-size: 1rem;
  padding: 10px 25px;
}


/* product section */

.product-image {
    height:60%;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(252, 241, 226, 0.7);
    justify-content: center;
    display: flex;
    align-items: center;
}

.product-image img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.product-image-2 {
  height:60%;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgb(252, 241, 226, 0.7);
    justify-content: center;
    display: flex;
    align-items: center;
}

.product-image-2 img {
  width: 80%;
  height: auto;
  object-fit: contain;
}



.product-data h6 {
  font-size: 12px;
}

.product-data h4 {
  font-size: 16px;
}

.price {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}


.price h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0; 
  color: #1F473E;
}

.star {
  display: flex;
  align-items: center;
  gap: 4px; 
}

.star i {
  font-size: 16px;
  color: #f2b01e; 
  margin: 0;
}


.star h5 {
  font-size: 14px;
  margin: 0;
  color: #888; 
}

.cart-btn {}

.cart-btn a{
  background-color: #1F473E;
  text-decoration: none;
  color: white !important;
  font-family: "Work Sans", sans-serif;
  padding: 10px 70px;
  border-radius: 10px;
  margin-bottom: 20px;
}



.terms  {
  background-color: rgb(240, 240, 240, 0.4);
  display: flex;
  gap: 100px;
   justify-content: center;
   align-items: center;
}

.conditations i {
  font-size: 17px;
  align-items: center;
}

.conditations span {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #1D1D1F;
  margin-left: 2px;
}

.section-title {
  font-weight: 600;
}

.section-subtitle {
  font-size: 0.95rem;
}

.product {
  margin-top: 100px;
}